<div class="sidebar">
    <h2>Student Management System</h2>
    <ul>
        <li><a href="/api/user/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/api/user/profile"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="/api/user/addmissionForm"><i class="fas fa-list"></i> Addmission form</a></li>
        <li><a href="/api/user/academicCalendar"><i class="fas fa-users"></i> Academic Calendar</a></li>
        <li><a href="/api/user/classroom"><i class="fas fa-users"></i> Classroom</a></li>
        <li><a href="/api/user/logout"><i class="fas fa-users"></i> Logout</a></li>
      
    </ul>
</div>