<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <script src="/javascript/statusMessage.js"></script>
</head>
<body>


    <%-include('../adminPartials/header') %>


    <div class="partials-container">
       
    <%-include('../adminPartials/sidebar') %>
    <%-include('../adminPartials/attendance/attendance') %>
    
    
     
    
    
    
    
    
    
        
    </div>


</body>
</html>
