<div class="sidebar">
    <h2>Student Management System</h2>
    <ul>
        <!-- <li><a href="/api/admin/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/api/admin/profile"><i class="fas fa-user"></i> Profile</a></li> -->
        <li><a href="/api/admin/manageStudents"><i class="fas fa-list"></i>Student Management</a></li>
        <li><a href="/api/admin/classWork"><i class="fas fa-users"></i> Class Work</a></li>
        <li><a href="/api/admin/attendance"><i class="fas fa-users"></i> Attendance</a></li>
        <!-- <li><a href="/api/admin/classroom"><i class="fas fa-users"></i> Attendance</a></li> -->
        <li><a href="/api/user/logout"><i class="fas fa-users"></i> Logout</a></li>
      
    </ul>
</div>  